@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>

<address>
    <div class="col-lg-3 col-sm-3">
        <p>
            <b>Bootstrap Realestate Inc.</b><br>
            <span class="glyphicon glyphicon-map-marker"></span> 8290 Walk Street, Australia <br>
            <span class="glyphicon glyphicon-envelope"></span> hello@bootstrapreal.com<br>
            <span class="glyphicon glyphicon-earphone"></span> (123) 456-7890
        </p>
    </div>
</address><br><br><br><br><br><br>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@bootstrapreal.com">Support@bootsrapreal.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@bootstrapreal.com">Marketing@bootstrapreal.com</a>
    </address>
