@using HomeShare.Helper
@model IEnumerable<HomeShare.DAL.Membre>

@{
    ViewBag.Title = "Index";
}

<div class="header">
    <div><a href="#"><img src="~/Content/img/logo.png" alt="Realestate"></a></div><br/>

    @Html.BienvenueMembre("Bienvenue ", "bienvenue")

    <h3>@HomeShare.Helper.SessionMembre.Login</h3>

    <div class="menu">
        <ul class="pull-left">
            <li><a href="~/Member/Home/ListeBiensMembre">Mes biens</a></li>
            <li><a href="~/Member/Home/AjouterBienMembre">Ajouter un bien</a></li>
            <li><a href="~/Member/Home/ModifierBienMembre">Modifier un bien</a></li>
            <li><a href="~/Member/Home/LogOut">Se déconnecter</a></li>
        </ul>
    </div>

</div>
