@model HomeShare.DAL.BienEchange

<div class="col-md-3 col-sm-6 hero-feature">
    <div class="thumbnail">
        <img src="~/Content/images/Biens/@Model.Photo" alt="" style="height:120px">
        <div class="caption">
            <h3>@Model.Titre</h3>
            <p>
                @{
                    string resume = Model.DescLong;
                    if (Model.DescLong.Length > 40)
                    {
                        resume = Model.DescLong.Substring(0, 40) + "...";
                    }
                }
                @resume
            </p>
            <p>
                <a href="~/Bien/Details/@Model.IdBien" class="btn btn-default">Lire plus ...</a>
            </p>
        </div>
    </div>
</div>